@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    font-size: 1rem;
    line-height: 1.2;
}

.react-calendar__tile {
    padding: 0.25rem !important;
}

.react-calendar__navigation__next-button {
    width: 10px; /* Adjust width as needed */
    padding: 4px; /* Reduce padding if necessary */
  }