# Created by venv; see https://docs.python.org/3/library/venv.html
local_venv/
.DS_Store
mental_health_diary/media/profile_pics/beaver-profile-pic_hMog90r.jpeg
mental_health_diary/media/profile_pics/beaver-profile-pic_OPBfGZQ.jpeg
mental_health_diary/media/profile_pics/beaver-profile-pic.jpeg
mental_health_diary/.DS_Store
mental_health_diary/diary/fixtures/initial_moods_emotions_influences.json
mental_health_diary/diary/management/__init__.py
mental_health_diary/diary/management/__pycache__/__init__.cpython-313.pyc
mental_health_diary/diary/management/commands/__init__.py
mental_health_diary/diary/management/commands/populate_notes.py
mental_health_diary/diary/management/commands/__pycache__/__init__.cpython-313.pyc
mental_health_diary/diary/management/commands/__pycache__/populate_notes.cpython-313.pyc
mental_health_diary/media/influence_icons/счастье.png
mental_health_diary/media/mood_icons/счастье.png
mental_health_diary/media/profile_pics/632x632bb-2.jpeg
mental_health_diary/media/profile_pics/ab67616d0000b273d688b951a19f48941682e026.jpeg
mental_health_diary/.DS_Store
mental_health_diary/media/OG/influence_icons/забота_о_здоровье.png
mental_health_diary/media/OG/influence_icons/занятие_спортом.png
mental_health_diary/media/OG/influence_icons/размышления.png
mental_health_diary/media/OG/influence_icons/саморазвитие.png
mental_health_diary/media/OG/influence_icons/хобби_и_увлечения.png
mental_health_diary/media/OG/mood_icons/безнадёжность.png
mental_health_diary/media/OG/mood_icons/безразличие.png
mental_health_diary/media/OG/mood_icons/беспокойство.png
mental_health_diary/media/OG/mood_icons/благодарность.png
mental_health_diary/media/OG/mood_icons/веселье.png
mental_health_diary/media/OG/mood_icons/вина.png
mental_health_diary/media/OG/mood_icons/воодушевление.png
mental_health_diary/media/OG/mood_icons/гордость.png
mental_health_diary/media/OG/mood_icons/грусть.png
mental_health_diary/media/OG/mood_icons/зависть.png
mental_health_diary/media/OG/mood_icons/злость.png
mental_health_diary/media/OG/mood_icons/измотанность.png
mental_health_diary/media/OG/mood_icons/много_сил.png
mental_health_diary/media/OG/mood_icons/неловкость.png
mental_health_diary/media/OG/mood_icons/ок.png
mental_health_diary/media/OG/mood_icons/отвращение.png
mental_health_diary/media/OG/mood_icons/покой.png
mental_health_diary/media/OG/mood_icons/уверенность.png
mental_health_diary/media/OG/mood_icons/усталость.png
mental_health_diary/media/OG/mood_icons/энергичность.png
mental_health_diary/media/profile_pics/632x632bb-2_e9HtB1I.jpeg
mental_health_diary/diary/management/commands/populate_em_inf_mood.py
mental_health_diary/diary/management/commands/__pycache__/populate_em_inf_mood.cpython-313.pyc
mental_health_diary/users/.DS_Store
mental_health_diary/.DS_Store
mental_health_diary/frontend/.env
mental_health_diary/db_scheme.dot
mental_health_diary/.DS_Store
mental_health_diary/users/.DS_Store
mental_health_diary/media/profile_pics/1699187098113237647.jpg
mental_health_diary/media/profile_pics/632x632bb-2_HZdvYso.jpeg
mental_health_diary/media/profile_pics/632x632bb-4.jpeg
mental_health_diary/media/profile_pics/1699187098113237647_M4TQLmI.jpg
mental_health_diary/media/profile_pics/1699187098113237647_vWCp54l.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон_fj824ST.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон_oKpvXrX.jpg
OG/influence_icons/забота_о_здоровье.png
OG/influence_icons/занятие_спортом.png
OG/influence_icons/размышления.png
OG/influence_icons/саморазвитие.png
OG/influence_icons/хобби_и_увлечения.png
OG/lesson_covers/cvietotierapija.jpeg
OG/lesson_covers/myzukalnyjkolazh.jpeg
OG/lesson_covers/skazki.jpeg
OG/mood_icons/безнадёжность.png
OG/mood_icons/безразличие.png
OG/mood_icons/беспокойство.png
OG/mood_icons/благодарность.png
OG/mood_icons/веселье.png
OG/mood_icons/вина.png
OG/mood_icons/воодушевление.png
OG/mood_icons/гордость.png
OG/mood_icons/грусть.png
OG/mood_icons/зависть.png
OG/mood_icons/злость.png
OG/mood_icons/измотанность.png
OG/mood_icons/много_сил.png
OG/mood_icons/неловкость.png
OG/mood_icons/ок.png
OG/mood_icons/отвращение.png
OG/mood_icons/покой.png
OG/mood_icons/уверенность.png
OG/mood_icons/усталость.png
OG/mood_icons/энергичность.png
OG/winfluence_icons0/забота_о_здоровье.png
OG/winfluence_icons0/занятие_спортом.png
OG/winfluence_icons0/размышления.png
OG/winfluence_icons0/саморазвитие.png
OG/winfluence_icons0/хобби_и_увлечения.png
OG/winfluence_icons0/mood_icons0/безнадёжность.png
OG/winfluence_icons0/mood_icons0/безразличие.png
OG/winfluence_icons0/mood_icons0/беспокойство.png
OG/winfluence_icons0/mood_icons0/благодарность.png
OG/winfluence_icons0/mood_icons0/веселье.png
OG/winfluence_icons0/mood_icons0/вина.png
OG/winfluence_icons0/mood_icons0/воодушевление.png
OG/winfluence_icons0/mood_icons0/гордость.png
OG/winfluence_icons0/mood_icons0/грусть.png
OG/winfluence_icons0/mood_icons0/зависть.png
OG/winfluence_icons0/mood_icons0/злость.png
OG/winfluence_icons0/mood_icons0/измотанность.png
OG/winfluence_icons0/mood_icons0/много_сил.png
OG/winfluence_icons0/mood_icons0/неловкость.png
OG/winfluence_icons0/mood_icons0/ок.png
OG/winfluence_icons0/mood_icons0/отвращение.png
OG/winfluence_icons0/mood_icons0/покой.png
OG/winfluence_icons0/mood_icons0/уверенность.png
OG/winfluence_icons0/mood_icons0/усталость.png
OG/winfluence_icons0/mood_icons0/энергичность.png
mental_health_diary/media/profile_pics/592x592bb_2_7WalH3I.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_9Sdv9h0.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_Do0nBjR.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_eLbTrNI.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_f0KUAqJ.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_MYBrRPi.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_NDzfiBW.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_q8KVst5.jpeg
mental_health_diary/media/profile_pics/592x592bb_2_rl7oYoM.jpeg
mental_health_diary/media/profile_pics/592x592bb_2.jpeg
mental_health_diary/media/profile_pics/632x632bb-2_2.jpeg
mental_health_diary/media/profile_pics/632x632bb-4_2.jpeg
mental_health_diary/users/.DS_Store
