# Created by venv; see https://docs.python.org/3/library/venv.html
local_venv/
.DS_Store
mental_health_diary/media/profile_pics/beaver-profile-pic_hMog90r.jpeg
mental_health_diary/media/profile_pics/beaver-profile-pic_OPBfGZQ.jpeg
mental_health_diary/media/profile_pics/beaver-profile-pic.jpeg
mental_health_diary/.DS_Store
mental_health_diary/diary/fixtures/initial_moods_emotions_influences.json
mental_health_diary/diary/management/__init__.py
mental_health_diary/diary/management/__pycache__/__init__.cpython-313.pyc
mental_health_diary/diary/management/commands/__init__.py
mental_health_diary/diary/management/commands/populate_notes.py
mental_health_diary/diary/management/commands/__pycache__/__init__.cpython-313.pyc
mental_health_diary/diary/management/commands/__pycache__/populate_notes.cpython-313.pyc
mental_health_diary/media/influence_icons/счастье.png
mental_health_diary/media/mood_icons/счастье.png
mental_health_diary/media/profile_pics/632x632bb-2.jpeg
mental_health_diary/media/profile_pics/ab67616d0000b273d688b951a19f48941682e026.jpeg
mental_health_diary/.DS_Store
mental_health_diary/media/OG/influence_icons/забота_о_здоровье.png
mental_health_diary/media/OG/influence_icons/занятие_спортом.png
mental_health_diary/media/OG/influence_icons/размышления.png
mental_health_diary/media/OG/influence_icons/саморазвитие.png
mental_health_diary/media/OG/influence_icons/хобби_и_увлечения.png
mental_health_diary/media/OG/mood_icons/безнадёжность.png
mental_health_diary/media/OG/mood_icons/безразличие.png
mental_health_diary/media/OG/mood_icons/беспокойство.png
mental_health_diary/media/OG/mood_icons/благодарность.png
mental_health_diary/media/OG/mood_icons/веселье.png
mental_health_diary/media/OG/mood_icons/вина.png
mental_health_diary/media/OG/mood_icons/воодушевление.png
mental_health_diary/media/OG/mood_icons/гордость.png
mental_health_diary/media/OG/mood_icons/грусть.png
mental_health_diary/media/OG/mood_icons/зависть.png
mental_health_diary/media/OG/mood_icons/злость.png
mental_health_diary/media/OG/mood_icons/измотанность.png
mental_health_diary/media/OG/mood_icons/много_сил.png
mental_health_diary/media/OG/mood_icons/неловкость.png
mental_health_diary/media/OG/mood_icons/ок.png
mental_health_diary/media/OG/mood_icons/отвращение.png
mental_health_diary/media/OG/mood_icons/покой.png
mental_health_diary/media/OG/mood_icons/уверенность.png
mental_health_diary/media/OG/mood_icons/усталость.png
mental_health_diary/media/OG/mood_icons/энергичность.png
mental_health_diary/media/influence_icons/забота_о_здоровье.png
mental_health_diary/media/influence_icons/занятие_спортом.png
mental_health_diary/media/influence_icons/размышления.png
mental_health_diary/media/influence_icons/саморазвитие.png
mental_health_diary/media/influence_icons/хобби_и_увлечения.png
mental_health_diary/media/mood_icons/безнадёжность.png
mental_health_diary/media/mood_icons/безразличие.png
mental_health_diary/media/mood_icons/беспокойство.png
mental_health_diary/media/mood_icons/благодарность.png
mental_health_diary/media/mood_icons/веселье.png
mental_health_diary/media/mood_icons/вина.png
mental_health_diary/media/mood_icons/воодушевление.png
mental_health_diary/media/mood_icons/гордость.png
mental_health_diary/media/mood_icons/грусть.png
mental_health_diary/media/mood_icons/зависть.png
mental_health_diary/media/mood_icons/злость.png
mental_health_diary/media/mood_icons/измотанность.png
mental_health_diary/media/mood_icons/много_сил.png
mental_health_diary/media/mood_icons/неловкость.png
mental_health_diary/media/mood_icons/ок.png
mental_health_diary/media/mood_icons/отвращение.png
mental_health_diary/media/mood_icons/покой.png
mental_health_diary/media/mood_icons/уверенность.png
mental_health_diary/media/mood_icons/усталость.png
mental_health_diary/media/mood_icons/энергичность.png
mental_health_diary/media/profile_pics/632x632bb-2_e9HtB1I.jpeg
mental_health_diary/diary/management/commands/populate_em_inf_mood.py
mental_health_diary/diary/management/commands/__pycache__/populate_em_inf_mood.cpython-313.pyc
mental_health_diary/users/.DS_Store
mental_health_diary/.DS_Store
mental_health_diary/frontend/.env
mental_health_diary/db_scheme.dot
mental_health_diary/.DS_Store
mental_health_diary/users/.DS_Store
mental_health_diary/media/profile_pics/1699187098113237647.jpg
mental_health_diary/media/profile_pics/632x632bb-2_HZdvYso.jpeg
mental_health_diary/media/profile_pics/632x632bb-4.jpeg
mental_health_diary/media/profile_pics/1699187098113237647_M4TQLmI.jpg
mental_health_diary/media/profile_pics/1699187098113237647_vWCp54l.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон_fj824ST.jpg
mental_health_diary/media/profile_pics/300px-Adiоs_Wormhole_шаблон_oKpvXrX.jpg
